# Frontend specific (Angular Project)
/frontend/meme-app/dist/
/frontend/meme-app/out-tsc/
/frontend/meme-app/tmp/
/frontend/meme-app/coverage/
/frontend/meme-app/node_modules/
/frontend/meme-app/.angular/
/frontend/meme-app/.env
/frontend/meme-app/e2e/test-output/
/frontend/meme-app/.angular-cli.json
/frontend/meme-app/.ng/
/frontend/meme-app/*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backend specific
/backend/node_modules/
/backend/.env
/.geminiignore